* { 
  background-color: #ffffff;
  font-family: "Poppins";
}

.navbar-container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
}

.navbar-container img {
    flex: 1;
    margin-left: 30px;
    margin-top: 10px;
   justify-content: flex-start;
   width: 150px;
}

.navbar-container .grow-list .list {
    flex: 2;
    margin-top: 20px;
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   list-style: none;
   font-family: "Poppins";
   font-weight: 200;
}

.navbar-container .grow-list .list-item {
   padding-right: 30px;
}

.navbar-container .grow-list .list-item:hover {
    font-weight: bold;
}

.button-group {
    flex: 1;
    width: auto;
    display: flex;
   margin: 10px 30px;
   justify-content: flex-end;
}

.button-group .nav-button {
    height: 50px;
    width: 150px;
    color: #ffffff;
    background-color: #5955b3;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.banner-container {
    margin-left: 40px ;
    display: flex;
}

.banner-container .heading-text {
    margin-top: 55px;
    font-size: 55px;
}
.banner-container .heading-text span {
   color: #5955b3;
}

.banner-container .description {
    margin-top: 20px;
   
    font-size: 16px;
}

.banner-container .nav-button {
    margin-top: 50px;
    height: 50px;
    width: 200px;
    color: #ffffff;
    background-color: #5955b3;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

.banner-container img {
    height: 90vh;
    width: 900px;
}



